* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #bde0fe;
  font-family: 'Poppins', sans-serif; }
  body p {
    padding: 25px;
    text-justify: distribute-all-lines;
    margin: 0; }
  body .titulo-h1 {
    background-color: rgba(76, 95, 154, 0.63);
    color: white;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 35px;
    padding: 15px;
    border-radius: 0px 0px 20px 20px; }
  body .titulo-h2 {
    background-color: #59a5d893;
    color: white;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 35px;
    padding: 15px;
    font-size: 25px;
    border-radius: 40px 100px;
    width: 50%;
    margin: auto; }
  body main {
    padding-top: 0px;
    background: #0a0a0a;
    background: linear-gradient(to right, rgba(5, 5, 5, 0.849), rgba(109, 109, 111, 0.376)), url(https://fondosmil.com/fondo/60032.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; }
    body main .parrafo-flex {
      display: flex;
      justify-content: center; }
      body main .parrafo-flex .parrafo-index {
        color: white;
        font-weight: 800;
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Comfortaa', cursive;
        border-radius: 40px 100px;
        background-color: rgba(0, 106, 255, 0.308);
        background-image: linear-gradient(315deg, rgba(68, 67, 67, 0.767), rgba(10, 11, 12, 0.25) 74%);
        line-height: 1.5;
        border-radius: 40px;
        border-radius: 40px 100px;
        width: 90%;
        height: 40%;
        display: inline-block;
        margin: 15px; }
    body main .background {
      background-color: white; }
    body main .section-home {
      background: #0a0a0a;
      background: linear-gradient(to right, rgba(5, 5, 5, 0.849), rgba(109, 109, 111, 0.376)), url(https://fondosmil.com/fondo/60032.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: relative; }

/* navegacion*/
body {
  margin: 0; }

header {
  width: 100%;
  background: #092546f7;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem; }
  header nav {
    z-index: 99; }
  header label {
    display: none;
    width: 43px;
    height: 43px;
    padding: 5px;
    padding-bottom: 5px;
    border: 1px solid #fff; }
    header label:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.3); }
  header #btn-menu {
    display: none; }
  header .menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 99; }
    header .menu ul li {
      z-index: 99;
      border-right: 1px solid #fff; }
      header .menu ul li:hover {
        background: rgba(0, 0, 0, 0.3);
        z-index: 99; }
      header .menu ul li a {
        display: block;
        padding: 15px 20px;
        color: #fff;
        text-decoration: none;
        z-index: 99; }

/* fin navegacion */
/* Carrousel */
.carousel-item {
  display: flex;
  align-items: center; }
  .carousel-item P {
    padding: 5px;
    background-color: #fffb;
    font-size: 3rem;
    display: inline-block; }
  .carousel-item img {
    height: 750px;
    object-fit: contain; }

/* fin carrousel */
/* galeria grid index */
.gallery-container {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-auto-rows: 22rem;
  padding: 35px;
  gap: 5px; }
  .gallery-container .gallery-item {
    position: relative;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5); }
    .gallery-container .gallery-item img {
      transition: all 500ms ease;
      width: 100%;
      height: 100%;
      object-fit: cover; }
      .gallery-container .gallery-item img:hover {
        transform: scale(1.2);
        cursor: pointer; }
    .gallery-container .gallery-item .gallery-title {
      position: absolute;
      bottom: 0;
      color: white;
      background: #023047;
      width: 100%;
      text-align: center; }

/* fin de galeria grid index */
/* galeria compras */
.galeria-compras {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  grid-auto-rows: 22rem;
  padding: 35px;
  gap: 5px; }
  .galeria-compras .gallery-item {
    position: inherit;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5); }
    .galeria-compras .gallery-item img {
      transition: all 500ms ease;
      width: 100%;
      height: 100%;
      object-fit: cover; }
      .galeria-compras .gallery-item img:hover {
        transform: scale(1.2);
        cursor: pointer; }
    .galeria-compras .gallery-item .gallery-title {
      position: sticky;
      bottom: 0;
      color: white;
      background: #023047;
      width: 100%;
      text-align: center; }

/* fin galeria compras */
/* alquileres galeria */
.alquileres1 {
  margin-top: 0; }
  .alquileres1 .galeria-alquileres {
    z-index: 0;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-auto-rows: 22rem;
    padding: 35px;
    gap: 5px; }
    .alquileres1 .galeria-alquileres .gallery-item {
      position: inherit;
      overflow: hidden;
      transition: all 500ms ease;
      border-radius: 5px;
      box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5); }
      .alquileres1 .galeria-alquileres .gallery-item img {
        transition: all 500ms ease;
        width: 100%;
        height: 100%;
        object-fit: cover; }
        .alquileres1 .galeria-alquileres .gallery-item img:hover {
          transform: scale(1.2);
          cursor: pointer; }
      .alquileres1 .galeria-alquileres .gallery-item .gallery-title {
        position: sticky;
        bottom: 0;
        color: white;
        background: #023047;
        width: 100%;
        text-align: center; }

/* fin galeria alquileres */
/* contacto */
.contact-parent {
  display: flex;
  padding-bottom: 50px;
  padding-top: 50px;
  color: white;
  font-weight: 500; }
  .contact-parent .contact-child {
    display: flex;
    flex: 1;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75); }
    .contact-parent .contact-child .inside-contact {
      width: 90%;
      margin: 0 auto; }
    .contact-parent .contact-child .inside-contact h2 {
      text-transform: uppercase;
      text-align: center;
      margin-top: 50px; }
    .contact-parent .contact-child .inside-contact h3 {
      text-align: center;
      font-size: 16px;
      color: #023047; }
    .contact-parent .contact-child .inside-contact input,
    .contact-parent .contact-child .inside-contact textarea {
      width: 100%;
      background-color: #eee;
      border: 1px solid rgba(0, 0, 0, 0.48);
      padding: 5px 10px;
      margin-bottom: 20px; }
      .contact-parent .contact-child .inside-contact input:hover,
      .contact-parent .contact-child .inside-contact textarea:hover {
        background-color: #fff;
        color: #000;
        transition: 0.2s; }
    .contact-parent .contact-child .inside-contact input[type=submit] {
      background-color: #023047;
      color: #fff;
      transition: 0.2s;
      border: 2px solid #000;
      margin: 30px 0; }
      .contact-parent .contact-child .inside-contact input[type=submit]:hover {
        background-color: #fff;
        color: #000;
        transition: 0.2s; }
  .contact-parent .child1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    padding: 100px 0; }
    .contact-parent .child1 p {
      padding-left: 20%;
      font-size: 20px;
      text-shadow: 0px 0px 2px #000; }
      .contact-parent .child1 p span {
        font-size: 16px;
        color: #9df2fd; }
  .contact-parent .child2 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.521); }

/* fin contacto */
/* conocenos */
main .background {
  background: #0a0a0a;
  background: linear-gradient(to right, rgba(5, 5, 5, 0.849), rgba(109, 109, 111, 0.376)), url(https://fondosmil.com/fondo/60032.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; }

main .cuadrados {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px; }
  main .cuadrados .formato-p {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: 800;
    color: white; }
  main .cuadrados .cuadrado1 {
    background-color: rgba(0, 106, 255, 0.308);
    background-image: linear-gradient(315deg, rgba(68, 67, 67, 0.767), rgba(10, 11, 12, 0.25) 74%);
    line-height: 1.6;
    width: 100%;
    height: 40%;
    display: inline;
    margin: 15px;
    border-radius: 30px; }
  main .cuadrados .cuadrado3 {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Comfortaa', cursive; }
    main .cuadrados .cuadrado3 span {
      font-family: 'Comfortaa', cursive;
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.493);
      color: white;
      width: 60%;
      margin: auto;
      border-radius: 10px;
      padding: 10px;
      font-weight: 800; }
    main .cuadrados .cuadrado3 img {
      width: 90%;
      margin-top: 20px;
      border-radius: 20px; }

/* fin conocenos */
footer {
  width: 100%;
  padding: 50px 0px;
  background-size: cover;
  background-color: #092546f7; }
  footer .container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px; }
    footer .container-footer .box-footer {
      display: flex;
      flex-direction: column;
      padding: 40px; }
      footer .container-footer .box-footer li {
        text-decoration: none; }
      footer .container-footer .box-footer a {
        margin-top: 10px;
        color: white;
        font-weight: 600;
        text-decoration: none; }
        footer .container-footer .box-footer a:hover {
          opacity: 0.9; }
        footer .container-footer .box-footer a .fab {
          font-size: 20px; }
      footer .container-footer .box-footer h2 {
        margin-bottom: 30px;
        color: white;
        font-weight: 700; }
      footer .container-footer .box-footer .terminos {
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: white;
        font-size: 12px; }
        footer .container-footer .box-footer .terminos p {
          text-align: center;
          justify-content: center; }
      footer .container-footer .box-footer .logo {
        display: flex;
        justify-content: center; }
        footer .container-footer .box-footer .logo img {
          padding-top: 20px;
          width: 200px;
          align-content: center; }
      footer .container-footer .box-footer .fab {
        padding: 5px; }
    footer .container-footer .box-copyright {
      justify-content: center;
      align-content: center;
      max-width: 1200px;
      margin: auto;
      text-align: center;
      padding: 0px 40px; }
      footer .container-footer .box-copyright p {
        margin-top: 20px;
        color: white; }
      footer .container-footer .box-copyright hr {
        border: none;
        height: 1px;
        color: white; }

/* fin footer */
.cartas {
  display: flex;
  margin: 0;
  margin-top: 0;
  padding: 10px;
  font-family: 'Comfortaa', cursive; }
  .cartas .card {
    background-color: #18303da6;
    padding: 25px;
    text-align: center;
    margin: 20px;
    border-radius: 0px,0px,30px,30px;
    font-weight: 800;
    color: white; }
    .cartas .card h5 {
      background-color: #1a98d5cc;
      width: 50%;
      margin: auto;
      line-height: 2;
      border-radius: 15px; }
    .cartas .card img {
      width: 100%;
      height: 330px;
      object-fit: cover; }
    .cartas .card .card-img-top {
      width: 100%;
      height: 330px;
      object-fit: cover; }
    .cartas .card .btn-primary {
      background-color: #1a98d5cc;
      border-color: #ffffff; }

/* propiedad */
.background-propiedades {
  background: #0a0a0a;
  background: linear-gradient(to right, rgba(5, 5, 5, 0.849), rgba(109, 109, 111, 0.376)), url(https://www.diariojunio.com.ar/fotos/foto0_1_108941_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; }
  .background-propiedades .galeria-propiedad {
    display: grid;
    justify-content: center;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    grid-auto-rows: auto;
    padding: 30px;
    gap: 5px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; }
    .background-propiedades .galeria-propiedad .gallery-propiedad {
      display: flex;
      flex-direction: row;
      justify-items: center;
      position: relative;
      overflow: hidden;
      transition: all 500ms ease;
      border-radius: 5px;
      box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
      background-color: #6a93cb;
      background-image: linear-gradient(315deg, #0d3a78 0%, #a4bfef 74%);
      border-radius: 40px 50px;
      width: 100%;
      height: 100%;
      display: inline-block;
      padding: 15px; }
      .background-propiedades .galeria-propiedad .gallery-propiedad .color-propiedad {
        background-color: #023047; }
      .background-propiedades .galeria-propiedad .gallery-propiedad iframe {
        border-radius: 15px; }
    .background-propiedades .galeria-propiedad .descripcion {
      align-self: center; }

/* responsive- mediaquery */
@media only screen and (max-width: 768px) {
  main .cuadrados {
    flex-direction: column;
    padding: 25px; }
    main .cuadrados .formato-p {
      font-size: 15px; }
    main .cuadrados .cuadrado2 {
      width: 100%; }
    main .cuadrados .cuadrado3 {
      width: 100%; }
    main .cuadrados .cuadrado3 img {
      width: 100%; }
  .cartas {
    flex-direction: column;
    width: 90%; }
    .cartas .card {
      width: 100%; }
  header label {
    display: block; }
  header .menu {
    position: absolute;
    background: #023047;
    margin-left: -70%;
    transition: all 1s; }
    header .menu ul {
      flex-direction: column;
      width: 100%; }
      header .menu ul li {
        border-top: 1px solid #fff; }
  #btn-menu:checked ~ .menu {
    margin: 0; }
  .gallery-title {
    position: sticky; }
  /*galeria de propiedad */
  .galeria-propiedad {
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: auto;
    padding: 2px;
    gap: 5px;
    padding-bottom: 20px; }
  /*galeria del index */
  .gallery-container {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); }
    .gallery-container .gallery-item {
      position: inherit; }
      .gallery-container .gallery-item .gallery-title {
        position: sticky; }
  /*galeria de compras */
  .galeria-compras {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); }
    .galeria-compras .gallery-item {
      position: inherit; }
    .galeria-compras .gallery-title {
      position: sticky; }
  /*galeria del alquileres */
  .alquileres1 .galeria-alquileres {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); }
    .alquileres1 .galeria-alquileres .gallery-item {
      position: inherit; }
    .alquileres1 .galeria-alquileres .gallery-title {
      position: sticky; }
  body .titulo-h2 {
    width: 90%; }
  .contact-parent .child2 {
    color: black; }
  footer .container-footer .box-footer {
    padding: 15px;
    margin: 0; } }

@media only screen and (max-width: 768px) and (max-width: 991px) {
  .contact-parent {
    display: block;
    width: 100%;
    color: black; }
    .contact-parent .child1 {
      display: none; }
    .contact-parent .child2 {
      background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
      background-size: cover; }
  .inside-contact input,
  .inside-contact textarea {
    background-color: #fff; } }

@media only screen and (max-width: 768px) and (max-width: 1024px) {
  .cuadrados {
    flex-direction: column; }
    .cuadrados .cuadrado1 {
      width: 100%; }
    .cuadrados .cuadrado2 {
      width: 100%; }
    .cuadrados .cuadrado3 {
      width: 100%; } }
