* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin titulo {
    background-color: #59a5d893;
    color: white;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 35px;
    padding: 15px;
}

@mixin cuadrados {
    background-color: rgba(0, 106, 255, 0.308);
    background-image: linear-gradient(315deg, rgba(68, 67, 67, 0.767), rgba(10, 11, 12, 0.25) 74%);
    line-height: 1.5;
    border-radius: 40px;
    border-radius: 40px 100px;
    width: 90%;
    height: 40%;
    display: inline-block;
    margin: 15px;
}

body {
    background-color: $bg_body;
    font-family: 'Poppins', sans-serif;

    p {
        padding: 25px;
        text-justify: distribute-all-lines;
        margin: 0;
    }

    .titulo-h1 {
        background-color: hsla(225, 34%, 45%, 0.63);
        color: white;
        font-family: 'Comfortaa', cursive;
        text-align: center;
        font-size: 35px;
        padding: 15px;
        border-radius: 0px 0px 20px 20px;
    }

    .titulo-h2 {
        @include titulo;
        font-size: 25px;
        border-radius: 40px 100px;
        width: 50%;
        margin: auto;
    }

    main {
        padding-top: 0px;
        background: #0a0a0a;
            background: linear-gradient(to right, hsla(0, 0%, 2%, 0.849), hsla(240, 1%, 43%, 0.376)), url(https://fondosmil.com/fondo/60032.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            position: relative;

        .parrafo-flex {
            display: flex;
            justify-content: center;

            .parrafo-index {
                color: white;
                font-weight: 800;
                justify-content: center;
                text-align: center;
                font-size: 1.5rem;
                font-family: 'Comfortaa', cursive;
                border-radius: 40px 100px;
                @include cuadrados;

            }
        }

        .background {
            background-color: white;
        }

        .section-home {
            background: #0a0a0a;
            background: linear-gradient(to right, hsla(0, 0%, 2%, 0.849), hsla(240, 1%, 43%, 0.376)), url(https://fondosmil.com/fondo/60032.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            position: relative;
        }
    }


}