/* conocenos */
@mixin cuadrados {
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    line-height: 1.6;
    border: black;
    border-style: solid;
    width: 100%;
    height: 40%;
    display: inline;
    margin: 15px;
}

.cuadrados {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .formato-p {
        font-family: 'Comfortaa', cursive;
        font-size: 20px;
    }

    .cuadrado1 {
        @include cuadrados;
        border-radius: 50px 100px;
    }
    .cuadrado3 {
        display: inline-block;
        border: black;
        border-style: solid;
        padding: 10px;
        margin: 10px;
        text-align: center;
        background-color: #6a93cb;
        background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
        font-family: 'Comfortaa', cursive;
        h2{
            font-family: 'Comfortaa', cursive;
            font-size: 20px;
        }
    }

}

/* fin conocenos */