//* footer *//
footer {
    width: 100%;
    padding: 1px;
    background-size: cover;
    background-color: #092546f7;

    .container-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 10px;

        .box-footer {
            display: flex;
            flex-direction: column;
            padding: 40px;

            li {
                text-decoration: none;
            }


            a {
                margin-top: 10px;
                color: white;
                font-weight: 600;
                text-decoration: none;

                &:hover {
                    opacity: 0.9;
                }

                .fab {
                    font-size: 20px;
                }
            }

            h2 {
                margin-bottom: 30px;
                color: white;
                font-weight: 700;
            }

            .terminos {
                max-width: 350px;
                margin-top: 20px;
                font-weight: 500;
                color: white;
                font-size: 12px;

                p {
                    text-align: center;
                    justify-content: center;
                }
            }

            .logo {
                display: flex;
                justify-content: center;

                img {
                    padding-top: 20px;
                    width: 200px;
                    align-content: center;

                }
            }

            .fab {
                padding: 5px;
            }
        }
        .box-copyright {
            justify-content: center;
            align-content: center;
            max-width: 1200px;
            margin: auto;
            text-align: center;
            padding: 0px 40px;

            p {
                margin-top: 20px;
                color:white;
            }

            hr {
                border: none;
                height: 1px;
                color:white;
            }
        }
    }
}

/* fin footer */