footer {
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
    background-color: #b9e0f1;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;

    .container-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;

        .box-footer {
            display: flex;
            flex-direction: column;
            padding: 40px;
            }
            .box-copyright{
                max-width: 1200px;
                margin:auto;
                text-align: center;
                padding: 0px 40px;
                p{
                    margin-top: 20px ;
                    color:black;
                }
                hr{
                    border: none;
                    height: 1px;
                    color: black    ;
                }
            }
            a{
                margin-top: 10px;
                color: black;
                font-weight: 600;
                text-decoration: none;
                &:hover{
                    opacity: 0.9;
                }
                .fab{
                    font-size: 20px;
                }
            }

            h2 {
                margin-bottom: 30px;
                color:black;
                font-weight: 700;
            }

            .terminos {
                max-width: 350px;
                margin-top: 20px;
                font-weight: 500;
                color: black;
                font-size: 12px;
                p{
                    text-align: center;
                    justify-content: center;
                }
            }

            .logo {
                display: flex;
                justify-content: center;
                img {
                    padding-top: 20px;
                    width: 200px;
                    align-content: center;
                    
                }
        }
    }
}

/* fin footer */