/* responsive */

@media only screen and (max-width: 768px) {
    .cuadrados {
        flex-direction: column;

        .cuadrado1 {
            width: 100%;
        }

        .cuadrado2 {
            width: 100%;
        }

        .cuadrado3 {
            width: 100%;
        }

        .cuadrado3 img {
            width: 100%;
        }
    }

    .cartas {
        flex-direction: column;
        width: 100%;

        .card {
            width: 100%;
        }
    }

    footer {
        .container-footer {
            .box-footer {
                padding: 15px;
            }
        }
    }


    header {
        label {
            display: block;
        }

        .menu {
            position: absolute;
            background: $bg_nav;
            margin-left: -70%;
            transition: all 1s;

            ul {
                flex-direction: column;
                width: 100%;

                li {
                    border-top: 1px solid #fff;
                }
            }
        }
    }

    #btn-menu:checked~.menu {
        margin: 0;
    }

    .gallery-item {
        position: inherit;

        .gallery-title {
            position: sticky;
        }
    }

    .gallery-item {
        position: inherit;

        .gallery-title {
            position: sticky;
        }
    }
}

@media screen and (max-width:991px) {
    .contact-parent {
        display: block;
        width: 100%;

        .child1 {
            display: none;
        }

        .child2 {
            background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
            background-size: cover;
        }
    }

    .inside-contact input,
    .inside-contact textarea {
        background-color: #fff;
    }
}

@media only screen and (max-width: 1024px) {
    .cuadrados {
        flex-direction: column;

        .cuadrado1 {
            width: 100%;
        }

        .cuadrado2 {
            width: 100%;
        }

        .cuadrado3 {
            width: 100%;
        }
    }
}