/* responsive- mediaquery */

@media only screen and (max-width: 768px) {
    main {
        .cuadrados {
            flex-direction: column;
            padding: 25px;

            .formato-p {
                font-size: 15px;
            }

            .cuadrado2 {
                width: 100%;
            }

            .cuadrado3 {
                width: 100%;
            }

            .cuadrado3 img {
                width: 100%;
            }
        }
    }

    .cartas {
        flex-direction: column;
        width: 90%;

        .card {
            width: 100%;
        }
    }



    header {
        label {
            display: block;
        }

        .menu {
            position: absolute;
            background: $bg_nav;
            margin-left: -70%;
            transition: all 1s;

            ul {
                flex-direction: column;
                width: 100%;

                li {
                    border-top: 1px solid #fff;
                }
            }
        }
    }

    #btn-menu:checked~.menu {
        margin: 0;
    }

    .gallery-title {
        position: sticky;
    }

    /*galeria de propiedad */
    .galeria-propiedad {
        margin: 0 auto;
        grid-template-columns: repeat(auto-fill, minmax(min(15rem), 1fr));
        grid-auto-rows: auto;
        padding: 2px;
        gap: 5px;
        padding-bottom: 20px;
    }

    /*galeria del index */
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

        .gallery-item {
            position: inherit;

            .gallery-title {
                position: sticky;
            }
        }

    }

    /*galeria de compras */
    .galeria-compras {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

        .gallery-item {
            position: inherit;
        }

        .gallery-title {
            position: sticky;
        }
    }


    /*galeria del alquileres */
    .alquileres1 {
        .galeria-alquileres {
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

            .gallery-item {
                position: inherit;
            }

            .gallery-title {
                position: sticky;
            }
        }
    }


    body {
        .titulo-h2 {
            width: 90%;
        }
    }

    .contact-parent {
        .child2 {
            color: black;
        }
    }

    footer {
        .container-footer {
            .box-footer {
                padding: 15px;
                margin: 0;
            }
        }
    }



    @media screen and (max-width:991px) {
        .contact-parent {
            display: block;
            width: 100%;
            color: black;

            .child1 {
                display: none;
            }

            .child2 {
                background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("https://cdn.pixabay.com/photo/2019/06/28/00/17/architecture-4303279_1280.jpg");
                background-size: cover;
            }
        }

        .inside-contact input,
        .inside-contact textarea {
            background-color: #fff;
        }
    }

    @media only screen and (max-width: 1024px) {
        .cuadrados {
            flex-direction: column;

            .cuadrado1 {
                width: 100%;
            }

            .cuadrado2 {
                width: 100%;
            }

            .cuadrado3 {
                width: 100%;
            }
        }
    }
}