/* navegacion*/
body {
    margin: 0;
}

header {
    nav {
        z-index: 99;
    }

    width: 100%;
    background: #092546f7;
    font-family: 'Poppins',
    sans-serif;
    font-size: 1rem;

    label {
        display: none;
        width: 43px;
        height: 43px;
        padding: 5px;
        padding-bottom: 5px;
        border: 1px solid #fff;

        &:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.3);
        }
    }

    #btn-menu {
        display: none;
    }

    .menu {
        ul {
            margin: 0;
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            z-index: 99;

            li {
                z-index: 99;
                border-right: 1px solid #fff;

                &:hover {
                    background: rgba(0, 0, 0, 0.3);
                    z-index: 99;
                }

                a {
                    display: block;
                    padding: 15px 20px;
                    color: #fff;
                    text-decoration: none;
                    z-index: 99;
                }
            }
        }
    }
}

/* fin navegacion */